/* CSS Style for Modal Form */

body {font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;}
* {box-sizing: border-box;}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: block;
    border: none;
    background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for all buttons */
button {
    background-color: #000045;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;

    font-weight: 700;
    text-transform: uppercase;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

button:hover {
    background-color: #2098D1;
    color: white;
}


/* Style the horizontal ruler */
hr {
    max-width: 100px;
    border-width: 1px;
    border-color: white;
}

hr.light {
    border-color: #fff;
}

h1, h2,h3, h4, h5, h6, p {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

label {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.text-faded {
    color: rgba(255, 255, 255, 0.7);
}

header.landing {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("https://firebasestorage.googleapis.com/v0/b/ecommerce-user-db.appspot.com/o/Sunset-silhouette-of-Santa-Barbaras-East-Beach-palm-trees.jpg?alt=media&token=c6ae2ee0-bff4-487e-b97e-3cd986859030");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header.landing hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

header.landing h1, h2 {
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
}

header.landing p {
    font-weight: 300;
}

.landing-container {
    text-align: center;
}

.landingbtn {
    font-size: 15px;
    border: none;
    margin: 10px;
}

.btn:hover, .btn:focus, .btn:active {
  background-color: #2098D1;
  color: white;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
    float: left;
    width: 40%;

    margin: 10px;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Product Grid Container Styling */
.grid-container {
    margin: auto;
    width: 60%;
    border: 2px solid red;
}

/* Product Grid Item Styling */
.grid-item {
    display: inline-block;
    width: 30%;
    text-align: center;
    border: 2px solid black;
    margin: 20px;
}

.quantity-box {
    width: 20%;
    margin: 10px;
    text-align: right;
}

/* Add/Remove style overrides global button style */
.add-button, .remove-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: none;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 10px;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Main Page */
.main {
    display: none; /* Hidden by default */
}

 
/* The Close Button (x) */
.close {
    position: relative;
    right: 380px;
    top: 80px;
    font-size: 40px;
    font-weight: bold;
    color: black;
    float: right;
}


.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.promo-container {
}

/* Promo Code Box */
.promo-box {
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}